<app-header></app-header>

<div class="row">
  <app-sidebar *ngIf="true" class="col-3 overlay"></app-sidebar>
  <div class="col-9">
    <div style="margin-top: 90px; margin-right: 110px;">
      <h4 class="mb-3">Widget Data</h4>
      <div style="border: 1px solid black;"></div>
      <div *ngIf="isLoader" style="margin-left: 400px;margin-top:200px;">
        <app-loader></app-loader>
      </div>

      <div *ngIf="!isLoader" class="table-container mt-4 " style="margin-right:90px">
        <table class="interactive-table">
          <thead>
            <!-- <tr>
              <th (click)="sortTable('title')" [ngClass]="{'asc': sortDirection['title'] === 'asc', 'desc': sortDirection['title'] === 'desc'}">
                Title 
                <span *ngIf="sortDirection['title'] === 'desc'"><i class="fas fa-chevron-up"></i></span>
                <span *ngIf="sortDirection['title'] === 'asc'"><i class="fas fa-chevron-down"></i></span>
              </th>
              
              <th>Image</th>
              <th (click)="sortTable('link')" [ngClass]="{'asc': sortDirection['link'] === 'asc', 'desc': sortDirection['link'] === 'desc'}">Link
                <span *ngIf="sortDirection['link'] === 'desc'"><i class="fas fa-chevron-up"></i></span>
                <span *ngIf="sortDirection['link'] === 'asc'"><i class="fas fa-chevron-down"></i></span>
              </th>
              <th (click)="sortTable('type')">Type
                <span *ngIf="sortDirection['type'] === 'desc'"><i class="fas fa-chevron-up"></i></span>
                <span *ngIf="sortDirection['type'] === 'asc'"><i class="fas fa-chevron-down"></i></span>
              </th>
              <th (click)="sortTable('share_count')">Share Count
                <span *ngIf="sortDirection['share_count'] === 'desc'"><i class="fas fa-chevron-up"></i></span>
                <span *ngIf="sortDirection['share_count'] === 'asc'"><i class="fas fa-chevron-down"></i></span>
              </th>
              <th (click)="sortTable('post_date')">Post Date
                <span *ngIf="sortDirection['post_date'] === 'desc'"><i class="fas fa-chevron-up"></i></span>
                <span *ngIf="sortDirection['post_date'] === 'asc'"><i class="fas fa-chevron-down"></i></span>
              </th>
              <th (click)="sortTable('expiry_date')">
                Expiry Date
                <span *ngIf="sortDirection['expiry_date'] === 'desc'"><i class="fas fa-chevron-up"></i></span>
                <span *ngIf="sortDirection['expiry_date'] === 'asc'"><i class="fas fa-chevron-down"></i></span>
              </th>
              <th>Archive </th>
            </tr> -->
            <tr>
              <th (click)="sortTable('title')" [ngClass]="{'asc': sortDirection['title'] === 'asc', 'desc': sortDirection['title'] === 'desc'}">
                  Title 
                  <span *ngIf="showTitleIcons">
                 
                    <span *ngIf="sortDirection['title'] === 'desc'"><i class="fas fa-chevron-up"></i></span>
                    <span *ngIf="sortDirection['title'] === 'asc'"><i class="fas fa-chevron-down"></i></span>
                 
                </span>
                 
              </th>
              
              <th>Image</th>
              
              <th (click)="sortTable('link')" [ngClass]="{'asc': sortDirection['link'] === 'asc', 'desc': sortDirection['link'] === 'desc'}">Link
                  <span *ngIf="(sortDirection['link'] === 'desc' || sortDirection['link'] === 'asc')&&showLinkIcons">
                      <i *ngIf="sortDirection['link'] === 'desc'" class="fas fa-chevron-up"></i>
                      <i *ngIf="sortDirection['link'] === 'asc'" class="fas fa-chevron-down"></i>
                  </span>
              </th>
              
              <th (click)="sortTable('type')">Type
                  <span *ngIf="(sortDirection['type'] === 'desc' || sortDirection['type'] === 'asc')&&showTypeIcons">
                      <i *ngIf="sortDirection['type'] === 'desc'" class="fas fa-chevron-up"></i>
                      <i *ngIf="sortDirection['type'] === 'asc'" class="fas fa-chevron-down"></i>
                  </span>
              </th>
              
              <th (click)="sortTable('share_count')">Share Count
                  <span *ngIf="(sortDirection['share_count'] === 'desc' || sortDirection['share_count'] === 'asc')&&showShareCountIcons">
                      <i *ngIf="sortDirection['share_count'] === 'desc'" class="fas fa-chevron-up"></i>
                      <i *ngIf="sortDirection['share_count'] === 'asc'" class="fas fa-chevron-down"></i>
                  </span>
              </th>
              
              <th (click)="sortTable('post_date')">Post Date
                  <span *ngIf="(sortDirection['post_date'] === 'desc' || sortDirection['post_date'] === 'asc')&&showPostDateIcons">
                      <i *ngIf="sortDirection['post_date'] === 'desc'" class="fas fa-chevron-up"></i>
                      <i *ngIf="sortDirection['post_date'] === 'asc'" class="fas fa-chevron-down"></i>
                  </span>
              </th>
              
              <th (click)="sortTable('expiry_date')">Expiry Date
                  <span *ngIf="(sortDirection['expiry_date'] === 'desc' || sortDirection['expiry_date'] === 'asc')&&showExpiryDateIcons">
                      <i *ngIf="sortDirection['expiry_date'] === 'desc'" class="fas fa-chevron-up"></i>
                      <i *ngIf="sortDirection['expiry_date'] === 'asc'" class="fas fa-chevron-down"></i>
                  </span>
              </th>
              
              <th>Archive</th>
          </tr>
          
          
          
          </thead>
          <tbody>
            <tr *ngFor="let item of sortedItems" (mouseover)="highlightRow($event)"
              (mouseout)="removeHighlight($event)">
              <td>{{ item.title }}</td>
              <td><img src="{{ item.image }}" alt="Image"></td>
              <td><a href="{{ item.link }}" target="_blank">{{ item.link }}</a></td>
              <td>{{ item.type }}</td>
              <td>{{ item.share_count }}</td>
              <td>{{ item.post_date | date }}</td>
              <td>{{ item.expiry_date | date }}</td>
              <td><button class="btn" (click)="openModal()">
                  <i class="fa-regular fa-trash-can"></i>
                </button></td>

              <div style="margin-top: 200px;" #myModal class="modal fade" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                      <button style="margin-left: 70%;" type="button" class="close" (click)="closeModal()"
                        aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Do you really want to archive these record?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
                      <button type="button" class="btn btn-danger" (click)="archivePost(item)">Archive</button>
                    </div>
                  </div>
                </div>
              </div>
            </tr>
          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>